@import 'variables';
@import 'bootstrap-navbar';

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: $main-font;
  margin-bottom: $footer-height;
}

button:focus {
  outline: 0 !important;
}

.mentee-item {
  padding-bottom: 8px;
}

.notes-item {
  padding: 2em;
  margin: 1em 0;
  background-color: #038EF4;
  color: #fff;
  border-radius: 5px;
}

.italic-header {
  font-style: italic;
}

.flush {
  padding: 0;
}

a {
  cursor: pointer;
}

.videoBox {
  float: left;
  width: 65%;
  img {
    width: 50px;
    margin-right: 20px;
  }
}

.chatBox {
  float: left;
  width: 34%;
  margin-left: 1%;
}

.modal-footer {
  border-top: none;
}
