@import 'variables';
@import 'bootstrap-navbar';

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: $main-font;
  margin-bottom: $footer-height;
}

button:focus {
  outline: 0 !important;
}

a {
  cursor: pointer;
}

.videoBox {
  float: left;
  width: 65%;
  img {
    width: 50px;
    margin-right: 20px;
  }
}

.chatBox {
  float: left;
  width: 34%;
  margin-left: 1%;
}

.modal-footer {
  border-top: none;
}
